<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd         
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd        
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd        
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd         
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
		http://www.springframework.org/schema/task  http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<task:annotation-driven />
	<context:annotation-config />
	<context:component-scan base-package="pl.com.vsadga.batch" />

	<!-- polaczenie DB -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.SingleConnectionDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost/fxdb" />
		<property name="username" value="fxuser" />
		<property name="password" value="fxuser1." />
	</bean>
	
	<!-- Data -->
	<bean id="dataCache" class="pl.com.vsadga.dto.cache.DataCache">
		<constructor-arg name="indyCacheSize" value="10" />
	</bean>

	<!-- DAOs -->
	<bean id="barDataDao" class="pl.com.vsadga.dao.impl.BarDataDaoImpl">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="configDataDao" class="pl.com.vsadga.dao.impl.ConfigDataDaoImpl">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="symbolListDao" class="pl.com.vsadga.dao.impl.CurrencySymbolDaoImpl">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="timeFrameListDao" class="pl.com.vsadga.dao.impl.TimeFrameDaoImpl">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="tradeAlertDao" class="pl.com.vsadga.dao.impl.TradeAlertDaoImpl">
		<constructor-arg ref="dataSource" />
	</bean>

	<!-- Services -->
	<bean id="chartWriter" class="pl.com.vsadga.service.chart.ChartWriterImpl">
		<property name="currencyDataService" ref="currencyDataService" />
	</bean>
	<bean id="currencyDataService" class="pl.com.vsadga.service.data.CurrencyDataServiceImpl">
		<property name="barDataDao" ref="barDataDao" />
	</bean>
	<bean id="configDataService" class="pl.com.vsadga.service.config.ConfigDataServiceImpl">
		<property name="configDataDao" ref="configDataDao" />
	</bean>
	<bean id="currencyDbWriterService"
		class="pl.com.vsadga.service.writer.CurrencyDbWriterServiceImpl">
		<property name="barDataDao" ref="barDataDao" />
	</bean>
	<bean id="symbolService" class="pl.com.vsadga.service.symbol.SymbolServiceImpl">
		<property name="symbolListDao" ref="symbolListDao" />
	</bean>
	<bean id="timeFrameService" class="pl.com.vsadga.service.timeframe.TimeFrameServiceImpl">
		<property name="timeFrameListDao" ref="timeFrameListDao" />
	</bean>
	
	<!-- IO -->
	<bean id="httpReader" class="pl.com.vsadga.service.io.HttpReaderImpl"/>

	<!-- Writer -->
	<bean id="barDataFileReader" class="pl.com.vsadga.io.impl.Mt4DataFileReaderImpl">
		<constructor-arg value="utf-8" />
	</bean>

	<!-- Processors -->
	<bean id="dataStreamProcessor" class="pl.com.vsadga.processor.impl.DataStreamProcessorImpl"/>
	
	<bean id="indicatorProcessor" class="pl.com.vsadga.service.process.impl.IndicatorProcessorImpl">
		<property name="configDataService" ref="configDataService" />
		<property name="dataCache" ref="dataCache" />
	</bean>
	<bean id="tradeAlertProcessor" class="pl.com.vsadga.service.process.impl.TradeAlertProcessorImpl">
		<property name="barDataDao" ref="barDataDao" />
		<property name="tradeAlertDao" ref="tradeAlertDao" />
		<property name="timeFrameDao" ref="timeFrameListDao" />
	</bean>
	<bean id="trendProcessor" class="pl.com.vsadga.service.process.impl.TrendProcessorImpl">
		<property name="configDataService" ref="configDataService" />
		<property name="dataCache" ref="dataCache" />
	</bean>
	<bean id="volumeProcessor" class="pl.com.vsadga.service.process.impl.VolumeProcessorImpl">
		<property name="configDataService" ref="configDataService" />
		<property name="dataCache" ref="dataCache" />
	</bean>
	
	<bean id="barDataProcessor" class="pl.com.vsadga.service.process.impl.BarDataProcessorImpl">
		<property name="barDataDao" ref="barDataDao" />
		<property name="dataCache" ref="dataCache" />
		<property name="indicatorProcessor" ref="indicatorProcessor" />
		<property name="trendProcessor" ref="trendProcessor" />
		<property name="volumeProcessor" ref="volumeProcessor" />
	</bean>

</beans>